@font-face {
  font-family: "iconfont"; /* Project id 5228714 */
  src: url('iconfont.woff2?t=1788171410325') format('woff2'),
       url('iconfont.woff?t=1788171410325') format('woff'),
       url('iconfont.ttf?t=1788171410325') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-core-left:before {
  content: "\e68e";
}

.icon-core-export:before {
  content: "\e6a3";
}

.icon-core-delete:before {
  content: "\e687";
}

.icon-core-eyes:before {
  content: "\e628";
}

.icon-core-doubleDown:before {
  content: "\ec0b";
}

.icon-core-doubleUp:before {
  content: "\ec0c";
}

.icon-core-upload:before {
  content: "\e60c";
}

.icon-core-starOutlined:before {
  content: "\e691";
}

.icon-core-print:before {
  content: "\e62a";
}

.icon-core-close:before {
  content: "\e617";
}

.icon-core-upward:before {
  content: "\e61d";
}

.icon-core-downward:before {
  content: "\e61e";
}

.icon-core-starFilled:before {
  content: "\e692";
}

.icon-core-drag:before {
  content: "\e6e4";
}

.icon-core-downOutlined:before {
  content: "\e6a2";
}

.icon-core-next:before {
  content: "\e79d";
}

.icon-core-prev:before {
  content: "\e79e";
}

.icon-core-diff:before {
  content: "\e74e";
}

.icon-core-user:before {
  content: "\e799";
}

.icon-core-menuUnfold:before {
  content: "\e6a4";
}

.icon-core-menuFold:before {
  content: "\e876";
}

.icon-core-download:before {
  content: "\e66b";
}

.icon-core-productServices:before {
  content: "\e673";
}

.icon-core-a-bianzu8beifen:before {
  content: "\e621";
}

.icon-core-a-bianzu13-1:before {
  content: "\e633";
}

.icon-core-a-bianzu13beifen2:before {
  content: "\e680";
}

.icon-core-png:before {
  content: "\e604";
}

.icon-core-ppt:before {
  content: "\e63f";
}

.icon-core-xls:before {
  content: "\e643";
}

.icon-core-other:before {
  content: "\e644";
}

.icon-core-shijian-biao:before {
  content: "\e646";
}

.icon-core-word:before {
  content: "\e649";
}

.icon-core-shijianriqi:before {
  content: "\e65b";
}

.icon-core-search:before {
  content: "\e65c";
}

.icon-core-completeWhite:before {
  content: "\e639";
}

.icon-core-rightWhite:before {
  content: "\e655";
}

.icon-core-loginPwd:before {
  content: "\e66a";
}

.icon-core-loginUser:before {
  content: "\e669";
}

.icon-core-closeEyes:before {
  content: "\e672";
}

.icon-core-confirmModalError:before {
  content: "\e671";
}

.icon-core-confirmModalSuccess:before {
  content: "\e674";
}

.icon-core-confirmModalWarn:before {
  content: "\e675";
}

.icon-core-captcha:before {
  content: "\e677";
}

.icon-core-pdf:before {
  content: "\e67d";
}

